{
  header {
    # disable FLoC tracking
    Permissions-Policy interest-cohort=()

    # enable HSTS
    Strict-Transport-Security max-age=31536000;

    # disable clients from sniffing the media type
    X-Content-Type-Options nosniff

    # clickjacking protection
    X-Frame-Options DENY
  }

  tls {
    dns cloudflare rk8aBRonEyGwCB1hmXia7APA6aWUu7UkaMPpI9fO
  }
}

jcompose.com {
  reverse_proxy 192.168.3.1:8080
}

*.jcompose.com {
  @jellyfin host jellyfin.jcompose.com
  handle @jellyfin {
    reverse_proxy 192.168.3.1:8096
  }

  handle {
    abort
  }
}
